*{
    color: #3f3f3f;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    min-width: 500px;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.topcontainer, .maincontainer, .footcontainer, .navcontainer{
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    min-width: 500px;
}

.mainwrapr{
    height: auto;
}

.mainbackbnr{
    position: absolute;
    display: block;
    width: 100%;
    height: 920px;
    top: 0px;
    left: 0px;
}

.mainbackbnr#backimg{
    background-image: url("./s/fish.png");
    background-size: cover;
}

.mainbackbnr#backblk{
    background-color: rgba(0,0,0,.5);
}

.topwrapr, .topcontainer{
    position: relative;
    width: auto;
    height: 920px;
    overflow: hidden;
}

.illust{
    width: 50%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 880px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

#phldr{
    text-align: center;
    height: auto;
    line-height: 50px;
    margin-top: 10px;
    font-size: 65px;
}

.contentbox{
    background-color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 20px 50px 5px rgba(0,0,0,0.2);
    height: auto;
    padding: 35px;
}

h2{
    height: auto;
    line-height: 35px;
    font-size: 22px;
}

h3{
    height: auto;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}