<!DOCTYPE html>
<html>
    <head>
        <title>破站 - 工具</title>
        <meta charset="utf-8" />
        <!-- bootstrap stylesheet -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="mainsheet.css" />
        
        <!-- Vue javascipts -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
        <!-- bootstrap javascripts -->
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base target="_blank" />
        
    </head>
    <body>
        <div id="forvue">
            <nav class="navbar sticky-top navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/">破站</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a v-for="tool in homePage.tools" class="dropdown-item" :href="tool.url ">{{ tool.name }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="toolsPage.html">All tools (WBAs)</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
            
            <div style="min-height: 1000px">
                <div style="overflow:hidden">
                    <div class="card bg-dark text-white" style="border-radius:0">
                      <img class="card-img" src="s/fish.png" alt="Card image" style="height: 200px;filter: blur(18px);">
                      <div class="card-img-overlay">
                          <div class="container" style="padding: 60px">
                            <h1>Tools</h1>
                        </div>  

                      </div>
                    </div>
                </div>
                
                <div class="container" style="margin-top: 18px;padding: 60px">
                    <h2 style="font-size: 1.5rem;"><em>想法从精神深处迸现出来的时候你总是毫无防备——<br />可能是坐在厕所里的时候，也可能是在完成某个无聊project的时候。</em></h2>
                    <h5 class="float-right" style="color:rgb(95, 95, 95)">—— 沃子集烁德</h5>
                </div>
                
                <div class="container" style="padding: 60px">
                    
                    <div class="list-group">
                      <a :href="tl.url" v-for="tl in toolsPage.allTools" class="list-group-item list-group-item-action"><b>{{ tl.name }}</b><br />{{ tl.description }}</a>
                    </div>
                </div>
                
            </div>
            
            
            <footer style="padding: 50px;background-color: gray;color: rgb(255, 255, 255);margin-top: 100px;">
                <div class="container my-auto text-center">
                    <h5 style="font-size: 1rem">破站 in <em>Github Page</em></h5>
                    <h5 style="font-weight:200;font-size: 1rem">叭了个叭叭叭叭叭。</h5>
                    <br />
                    <h5 style="font-weight:200;font-size: 1rem">首银 2019</h5>
                    
                </div>
            </footer>
        </div>
        <script>
            
            let allVueConfigs = 
                {
                    el: "#forvue",
                    data: {
                        aVueMsg: "This message is put by Vue",
                        homePage: {
                            "pic": "s/fish.png",
                            "picLabel": "鱼(EX!) - 首银",
                            "tools": [
                                {
                                    "name": "timetable",
                                    "url": "tt/timetable.html"
                                },
                                {
                                    "name": "哪儿吃？",
                                    "url": "dw/a.html"
                                }
                            ],
                            "latest": {
                                "title": "六学生成",
                                "description": "太闲了做的，完全从微博扒的网页，算是Vue.js框架的练手。不要用来干坏事哦。",
                                "url": "sx/sgene.html",
                                "background": ""
                            }
                        },
                        
                        toolsPage:
                        {
                            "allTools": [
                                {
                                    "name": "timetable",
                                    "url": "tt/timetable.html",
                                    "description": "A timetable planner",
                                    "icon": ""
                                },
                                {
                                    "name": "哪儿吃？",
                                    "url": "dw/a.html",
                                    "description": "A tool for finding restaurant when you're panic to find where for a dinner",
                                    "icon": ""
                                },
                                {
                                    "name": "Gun shots",
                                    "url": "grv/mv.html",
                                    "description": "Shot a gun with your phone!",
                                    "icon": ""
                                },
                                {
                                    "name": "六学生成器",
                                    "url": "sx/sgene.html",
                                    "description": "两开花，两开花",
                                    "icon": ""
                                }
                            ]
                        }
                    },
                    watch: {
                        
                    },
                    computed: {
                        computedMessage: function(){
                            return 1 + 1;
                        },
                        styleUsed: function(){
                            try{
                                return JSON.parse(this.styleTo);
                            }catch(err){
                                return ""
                            }
                        }
                    },
                    methods: {
                    }
                };
            
            let jsonRequest = new XMLHttpRequest();
            jsonRequest.onreadystatechange = function() { // Call a function when the state changes.
                if (jsonRequest.readyState == 4 && jsonRequest.status == 200) {
                    let response = jsonRequest.responseText;
                    response = JSON.parse(jsonRequest.responseText);
                    allVueConfigs["data"]["toolsPage"] = response["toolsConfig"];
                    allVueConfigs["data"]["homePage"] = response["homepageConfig"];

                }else if(jsonRequest.status == 500){
                    alert("Something wrong behind the scene.. ask for help!");
                }
            }

            jsonRequest.open("GET", '/pozhanConfig.json', true);
            jsonRequest.send();
            
            
            let dspBox = new Vue(allVueConfigs);
        </script>
    </body>
</html>