<html><head>
<meta charset="utf-8">
<meta content="六小龄童，六小龄童的微博，微博，新浪微博，weibo" name="keywords">
<meta content="六小龄童，本名章金莱，中国电视剧制作中心演员，代表作《西游记》、《猴娃》、《连城诀》等。六小龄童的微博主页、个人资料、相册，中国电视剧制作中心演员剧团。新浪微博，随时随地分享身边的新鲜事儿。" name="description">
<link rel="mask-icon" sizes="any" href="https://img.t.sinajs.cn/t6/style/images/apple/wbfont.svg" color="black">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<title>六小龄童的微博_微博</title>
<link type="text/css" rel="stylesheet" charset="utf-8" href="https://img.t.sinajs.cn/t6/style/css/module/base/frame.css?version=8eca7b3a563773d7" putoff="style/css/module/combination/extra.css?version=8eca7b3a563773d7">
<link type="text/css" rel="stylesheet" charset="utf-8" href="https://img.t.sinajs.cn/t6/style/css/module/combination/PCD_profile_home_A.css?version=8eca7b3a563773d7" includes="style/css/module/pagecard/PCD_counter.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_person_info.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_user_a.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_pictext_a.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_piclist_a.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_mydata.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_photolist.css?version=8eca7b3a563773d7|style/css/module/list/comb_WB_feed_profile.css?version=8eca7b3a563773d7|style/css/module/global/WB_timeline.css?version=8eca7b3a563773d7|style/css/module/pagecard/PCD_profileme.css?version=8eca7b3a563773d7|style/css/module/tab/comb_WB_tab_profile.css?version=8eca7b3a563773d7|style/css/module/list/comb_webim.css?version=8eca7b3a563773d7">
	        <link type="text/css" rel="stylesheet" charset="utf-8" href="https://img.t.sinajs.cn/t6/skin/skin048/skin.css?version=8eca7b3a563773d7" id="skin_style">
<link type="text/css" rel="stylesheet" href="generamain.css">
	

<!-- $CONFIG -->

<!-- / $CONFIG -->
<link rel="stylesheet" type="text/css" href="https://img.t.sinajs.cn/t6/style/css/module/pagecard/PCD_feed.css?version=8eca7b3a563773d7" id="FM_154505668369913"></head>
    <body class="FRAME_page B_page S_page WB_macT">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <div class="WB_miniblog" id="generaMainPlayground">
    <div class="WB_miniblog_fb">
  <div class="WB_main clearfix" id="plc_frame"><div class="WB_frame">
        
        	<div class="WB_frame_a">
            	<div id="Pl_Official_Headerv6__1"><div class="PCD_header">
                <div class="pf_wrap" layout-shell="false" node-type="cover_wrap">
                <div class="cover_wrap banner_transition" node-type="cover" style="background-image:url(https://img.t.sinajs.cn/t5/skin/public/profile_cover/001.jpg)" cover-type="1">
                </div>
                <div class="shadow  S_shadow" layout-shell="false">
                        <div class="pf_photo" node-type="photo">
                        <p class="photo_wrap">
                                                      <img src="https://tvax3.sinaimg.cn/crop.0.0.1242.1242.180/483521dbly8fwpwlwhwzgj20yi0yiach.jpg" alt="六小龄童" class="photo">
                                                 
                        </p>
                            <a suda-data="key=pc_apply_entry&amp;value=profile_icon_avatar" href="http:https://verified.weibo.com/verify" class="icon_bed"><em title="本名章金莱，中国电视剧制作中心演员，代表作《西游记》、《猴娃》、《连城诀》等" class="W_icon icon_pf_approve_gold" suda-uatrack="key=profile_head&amp;value=vuser_guest"></em></a>                        </div>
                        
                        <div class="pf_username">
                        <h1 class="username">六小龄童</h1>
                                                                                                                                <span class="icon_bed"><a><i class="W_icon icon_pf_male"></i></a></span>                                                    <a title="微博会员" target="_blank" href="http:https://vip.weibo.com/personal?from=main" action-type="ignore_list" suda-uatrack="key=profile_head&amp;value=member_guest"><em class="W_icon icon_member6"></em></a>                                                
                        </div>
                        
                        
                                                <div class="pf_intro" title="本名章金莱，中国电视剧制作中心演员，代表作《西游记》、《猴娃》、《连城诀》等">
                        本名章金莱，中国电视剧制作中心演员，代表作《西游记》、《猴娃》、《连城诀》等                        </div>

                                                <div class="pf_opt" diss-data="wforce=1&amp;refer_sort=profile&amp;refer_flag=profile_head">
                            <div class="opt_box clearfix">
                               <div class="btn_bed W_fl" node-type="focusLink" action-data="uid=1211441627&amp;fnick=六小龄童&amp;f=1&amp;refer_flag=1005050001_&amp;refer_lflag=&amp;refer_from=profile_headerv6&amp;template=7&amp;nogroup=1&amp;special_focus=1&amp;isrecommend=1&amp;is_special=0&amp;redirect_url=%2Fp%2F1005053655689037%2Fmyfollow%3Fgid%3D0%23place">
                               
                                                                  <a href="javascript:void(0);" suda-uatrack="key=tblog_profile_v6&amp;value=atten" suda-data="key=tblog_attention_click&amp;value=1211441627" action-type="login" class="W_btn_c btn_34px"><em class="W_ficon ficon_add S_ficon">+</em>关注</a>
                                   <a href="javascript:void(0);" class="W_btn_c btn_34px btn_opt" action-type="follow_recommend_arr" action-data="uid=1211441627&amp;refer_from=profile_headerv6"><em suda-uatrack="key=wb_pc_profile&amp;value=atten_down" class="W_ficon ficon_arrow_down_lite">g</em></a>
                                                              </div>

                                <div class="btn_bed W_fl"><a href="javascript:;" action-type="login" action-data="uid=1211441627&amp;nick=六小龄童" class="W_btn_d btn_34px" suda-uatrack="key=tblog_profile_v6&amp;value=private_letter">私信</a></div>
                                <div class="btn_bed W_fl"><a href="javascript:;" node-type="more" class="W_btn_d W_btn_pf_menu btn_34px"><em class="W_ficon ficon_menu S_ficon">=</em></a></div>
                            </div>
                        </div>
                                            </div>
                    		    
                                        <div class="pf_use_num" node-type="use_num">超过<span class="W_Tahoma W_fb">8000</span>万人正在使用</div>
                                                                                                <a href="javascript:void(0);" suda-uatrack="key=tblog_profile_new&amp;value=icon_copycover" class="pf_copy_icon" action-data="copy=1&amp;owner_uid=1211441627&amp;type=system&amp;cover_id=1" action-type="login" title="我也要用"></a>
                                                                                </div>
            </div>


<div class="PCD_user_b S_bg1" node-type="follow_recommend_box" style="display:none"></div>

</div>
                    	<div id="Pl_Official_Nav__2" name="place" anchor="-50"><div class="PCD_tab S_bg2">
	<div class="tab_wrap" style="width:60%">
		<table class="tb_tab" cellpadding="0" cellspacing="0">
			<tbody><tr>
							<td class="current">
					<a bpfilter="page" href="/p/1003061211441627/home?from=page_100306&amp;mod=TAB#place" node-type="nav_link" suda-uatrack="key=tblog_profile_new&amp;value=tab_profile" class="tab_link" otherhref="https:https://weibo.com/liuxiaolingtong?is_hot=1">
						<span class="S_txt1 t_link">他的主页</span>
						<span class="ani_border"></span>
					</a>
				</td>
							<td>
					<a bpfilter="page" href="/p/1003061211441627/photos?from=page_100306&amp;mod=TAB#place" node-type="nav_link" suda-uatrack="key=tblog_profile_new&amp;value=tab_photos" class="tab_link">
						<span class="S_txt1 t_link">他的相册</span>
						<span class="ani_border"></span>
					</a>
				</td>
						</tr>
		</tbody></table>
	</div>
</div>
</div>
    	    </div>
    		<div id="plc_main">		<div class="WB_frame_b" fixed-box="true" fixed-random="false">
					<div id="Pl_Core_T8CustomTriColumn__3" anchor="-50">	<div class="WB_cardwrap S_bg2">
						<div class="PCD_counter">
							<div class="WB_innerwrap">
								<table class="tb_counter" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
																					<td class="S_line1">
																						<a bpfilter="page_frame" class="t_link S_txt1" href="https://weibo.com/p/1003061211441627/follow?from=page_100306&amp;wvr=6&amp;mod=headfollow#place"><strong class="W_f14">259</strong><span class="S_txt2">关注</span></a></td>
																																<td class="S_line1">
																						<a bpfilter="page_frame" class="t_link S_txt1" href="https://weibo.com/p/1003061211441627/follow?relate=fans&amp;from=100306&amp;wvr=6&amp;mod=headfans&amp;current=fans#place"><strong class="W_f14">6421414</strong><span class="S_txt2">粉丝</span></a></td>
																																<td class="S_line1">
																						<a bpfilter="page_frame" class="t_link S_txt1" href="https://weibo.com/p/1003061211441627/home?from=page_100306_profile&amp;wvr=6&amp;mod=data#place"><strong class="W_f14">5929</strong><span class="S_txt2">微博</span></a></td>
																															</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
</div>
					<div id="Pl_Third_Inline__4" anchor="-50">    </div>
					<div id="Pl_Third_Inline__5" anchor="-50">    
    <style type="text/css">
        .wenda {
            background-image: url("https:https://h5.sinaimg.cn/upload/1087/691/2018/05/11/icon_2x.png") ;
            width: 24px;
            height: 24px;
            display: inline-block;
            background-size: 24px 24px;
            vertical-align: middle;
            margin-right: 5px;
        }
        .ellipsis {
            text-overflow:ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .subscribe_icon {
            width: 22px;
            height: 22px;
        }
        .subscribe_txt {
            margin-top: 4px;
            font-size: 10px;
            color: #ef8833;
        }
        .top_line {
            border-top-style:solid;
            border-top-width:1px;
        }
    </style>
</div>
					<div id="Pl_Core_UserInfo__6" anchor="-50"><div style="visibility: hidden;"></div><div style="z-index: 10; transform: translateZ(0px); position: relative; transition: margin-top 0.3s ease 0s; will-change: margin-top, top; width: 300px;"><div class="WB_cardwrap S_bg2" fixed-inbox="true" node-type="sigleProfileUsrinfo" fixed-mutex="false" fixed-id="2">
    <!-- v6 card 通用标题 -->
	<div class="PCD_person_info">
				<div class="verify_area W_tog_hover S_line2">
		<p class="verify clearfix">
								<span class="icon_bed W_fl"><a suda-data="key=pc_apply_entry&amp;value=profile_icon" target="_blank" href="http:https://verified.weibo.com/verify?from=profile" class="W_icon icon_verify_v"></a></span>
								<span class="icon_group S_line1 W_fl"><a class="W_icon_level icon_level_c5" title="微博等级48" href="http:https://level.account.weibo.com/level/levelexplain?from=profile2" target="_black"><span>Lv.48</span></a><a target="_blank" href="https:https://m.weibo.cn/z/panda" title="熊猫守护者"><img src="https:https://h5.sinaimg.cn/upload/1059/495/2018/11/06/pcpanda2x.png" alt="" class="W_icon_yystyle"></a>&nbsp;</span>
							</p>		 		 	<p class="info"><span>本名章金莱，中国电视剧制作中心演员，代表作《西游记》、《猴娃》、《连城诀》等</span></p>
			</div>
		
		<div class="WB_innerwrap">
			<div class="m_wrap">
							<div class="detail">
					<ul class="ul_detail">
										    					    						<li class="item S_line2 clearfix">
						        						<span class="item_ico W_fl"><em class="W_ficon ficon_cd_place S_ficon">2</em></span>
    						    						<span class="item_text W_fl">
    						    						    						    							北京 西城区    						    						</span>
						</li>
																	    						<li class="item S_line2 clearfix">
						        						<span class="item_ico W_fl"><em class="W_ficon ficon_bag S_ficon">3</em></span>
    						    						<span class="item_text W_fl">
    						    						<span class="S_txt2">公司</span>
    						    						    						    							    							<a target="_blank" href="http:https://s.weibo.com/user/&amp;work=%E4%B8%AD%E5%9B%BD%E7%94%B5%E8%A7%86%E5%89%A7%E5%88%B6%E4%BD%9C%E4%B8%AD%E5%BF%83%E6%BC%94%E5%91%98%E5%89%A7%E5%9B%A2&amp;from=profile&amp;wvr=6">中国电视剧制作中心演员剧团</a>
    							    						    						</span>
						</li>
																	    						<li class="item S_line2 clearfix">
						        						<span class="item_ico W_fl"><em class="W_ficon ficon_relationship S_ficon">ø</em></span>
    						    						<span class="item_text W_fl">
    						    						    						    							已婚    						    						</span>
						</li>
																	    						<li class="item S_line2 clearfix">
						        						<span class="item_ico W_fl"><em class="W_ficon ficon_constellation S_ficon">ö</em></span>
    						    						<span class="item_text W_fl">
    						    						    						    							1959年4月12日    						    						</span>
						</li>
																	    						<li class="item S_line2 clearfix">
						        						<span class="item_ico W_fl"><em class="W_ficon ficon_pinfo S_ficon">Ü</em></span>
    						    						<span class="item_text W_fl">
    						    						    						简介：    						    						    							工作联系:jintong2011125@163.com。    						    						</span>
						</li>
																	</ul>
				</div>
						</div>
		</div>
		<a class="WB_cardmore S_txt1 S_line1 clearfix" href="javascript:;" action-type="login">
	<span class="more_txt">查看更多&nbsp;<em class="W_ficon ficon_arrow_right S_ficon">a</em></span>
</a>
		
	</div>
</div><div style="height:1px;margin-top:-1px;visibility:hidden;"></div></div>
</div>
					
					
					
					
					
					
					
					
					
					
					
					
					
			</div>
	<div class="WB_frame_c" fixed-box="true">
					<div id="Pl_Core_PicText__20" anchor="-50"></div>
					<div id="Pl_Official_ProfileFeedNav__21" anchor="-50">        
</div>
					<div id="Pl_Official_MyProfileFeed__22" anchor="-50">                <div class="WB_feed WB_feed_v3 WB_feed_v4" pagenum="" node-type="feed_list" module-type="feed">
        
                        <template v-for="wbContent in weibo">
                    	        		    		    		    		    	        	<div tbinfo="ouid=1211441627" action-type="feed_list_item" diss-data="" mid="4301458930675331" class="WB_cardwrap WB_feed_type S_bg2 WB_feed_vipcover WB_feed_like " v-on:click="changeCurId(wbContent.id)">
        <div class="WB_feed_detail clearfix" node-type="feed_content" style="background-image:url(https://img.t.sinajs.cn/t6/skin/public/feed_cover/star_057_pc_x2.png?version=8eca7b3a563773d7)">
        
            <div class="WB_starcover">
                            <a href="javascript:void(0)" action-data="id=star_057&amp;isvip=0" action-type="fl_cardCover" suda-uatrack="key=vip_background&amp;value=feed_background_click"></a>
                        </div>
                        <div class="WB_screen W_fr" node-type="fl_screen_box">
    <div class="screen_box"><a href="javascript:void(0);" action-type="fl_menu"><i class="W_ficon ficon_arrow_down S_ficon">c</i></a>
        <div class="layer_menu_list" style="display: none; position: absolute; z-index: 999;" node-type="fl_menu_right">
            <ul>
                                                                                <li><a action-type="thrid_rend_iframe" href="javascript:void(0)" suda-data="" action-data="width=660&amp;height=556&amp;mid=4301458930675331&amp;src=%2F%2Fpromote.vip.weibo.com%2Fpromoteadvance%3Fdai_tou%3Dpc_profile_01%26touid%3D1211441627%26mid%3D4301458930675331&amp;title=推广" title="帮上头条">帮上头条</a></li>
                                                                                            <li><a href="javascript:void(0)" action-data="id=star_057&amp;isvip=0" action-type="fl_cardCover" suda-uatrack="key=vip_background&amp;value=feed_background_click" title="用此卡片背景">用此卡片背景</a></li>
                                                                                                                                                                        <li>
                                <span class="hover">
                                                                                                                        <a href="javascript:void(0);" action-type="visitorlogin">投诉</a>
                                                                                                            </span>
                            </li>
                                                                        </ul>
        </div>
    </div>
</div>
        <div class="WB_face W_fl">
            <div class="face"><a target="_blank" class="W_face_radius" suda-uatrack="key=noload_singlepage&amp;value=user_pic" href="https://weibo.com/liuxiaolingtong?refer_flag=1005055014_" title="六小龄童"><img usercard="id=1211441627&amp;type=0&amp;refer_flag=1005055014_" src="https://tvax3.sinaimg.cn/crop.0.0.1242.1242.180/483521dbly8fwpwlwhwzgj20yi0yiach.jpg" width="50" height="50" alt="六小龄童" class="W_face_radius"></a></div>
                    </div>

        <div class="WB_detail">
            <div class="WB_info">
                <a href="https://weibo.com/liuxiaolingtong?refer_flag=1005055014_" target="_blank" class="W_f14 W_fb S_txt1" usercard="id=1211441627&amp;type=0&amp;refer_flag=1005055014_" suda-uatrack="key=noload_singlepage&amp;value=user_name">六小龄童</a>
                <a target="_blank" href="http:https://verified.weibo.com/verify"><i title="微博个人认证 " class="W_icon icon_approve_gold"></i></a>                <a title="微博会员" target="_blank" href="http:https://vip.weibo.com/personal?from=main" action-type="ignore_list" suda-uatrack="key=profile_head&amp;value=member_guest"><em class="W_icon icon_member6"></em></a>            </div>
            <div class="WB_from S_txt2">
                                <a name="4301458930675331" target="_blank" href="/1211441627/H0BX72PGr?from=page_1003061211441627_profile&amp;wvr=6&amp;mod=weibotime" title="2018-11-01 08:13" date="1541031189000" class="S_txt2" node-type="feed_list_item_date" suda-data="key=tblog_home_new&amp;value=feed_time:4301458930675331:fromprofile"> {{wbContent.weiboTime}}</a> 来自 <a class="S_txt2" target="_blank" href="http:https://vip.weibo.com/prividesc?priv=1006&amp;from=feed">{{wbContent.weiboDevice}}</a>            	            </div>

            <div class="PCD_user_b S_bg1" node-type="follow_recommend_box" style="display:none"></div>

            <div class="WB_text W_f14" node-type="feed_list_content" nick-name="六小龄童">{{wbContent.weiboContent}}</div>
                                                                <div class="WB_expand_media_box " style="display: none;" node-type="feed_list_media_disp"></div>
                                                                    <!-- 引用文件时，必须对midia_info赋值 -->
<!-- 微博心情，独立于标准的ul节点 -->
                    <div class="WB_media_wrap clearfix" node-type="feed_list_media_prev">
        <div class="media_box">
            <!--判断图片的个数，渲染图片-->
                            <!--图片个数大于1，不渲染卡片-->
                <!--TODO 只显示图片-->
                
				     <!--picture_count == 2 || picture_count == 3-->
                    </div>
    </div>
        <!-- super card-->

                                                                                    <!-- feed区 大数据tag -->
                    </div>
        
    </div>
    <div class="WB_feed_handle" node-type="feed_list_options">
        <div class="WB_handle">
            <ul class="WB_row_line WB_row_r4 clearfix S_line2">
                                    <li>
                        <a class="S_txt2" suda-uatrack="key=profile_feed&amp;value=collect_guest" href="javascript:void(0);" diss-data="fuid=1211441627" action-type="fl_favorite"><span class="pos"><span class="line S_line1" node-type="favorite_btn_text"><span><em class="W_ficon ficon_favorite S_ficon">û</em><em>收藏</em></span></span></span></a>
                    </li>
                                                    <li>
                        <a action-data="allowForward=1&amp;url=https:https://weibo.com/1211441627/H0BX72PGr&amp;mid=4301458930675331&amp;name=六小龄童&amp;uid=1211441627&amp;domain=liuxiaolingtong&amp;pid=483521dbly1fws8ssakfij20go0mxdiq" action-type="fl_forward" action-history="rec=1" href="javascript:void(0);" class="S_txt2" suda-uatrack="key=profile_feed&amp;value=transfer"><span class="pos"><span class="line S_line1" node-type="forward_btn_text"><span><em class="W_ficon ficon_forward S_ficon"></em><em>{{wbContent.weiboRepost}}</em></span></span></span></a>
                        <span class="arrow"><span class="W_arrow_bor W_arrow_bor_t"><i class="S_line1"></i><em class="S_bg1_br"></em></span></span>
                    </li>
                                <li>
                                            <a href="javascript:void(0);" class="S_txt2" action-type="fl_comment" action-data="ouid=1211441627&amp;location=profile&amp;comment_type=0" suda-uatrack="key=profile_feed&amp;value=comment:4301458930675331"><span class="pos"><span class="line S_line1" node-type="comment_btn_text"><span><em class="W_ficon ficon_repeat S_ficon"></em><em>{{wbContent.weiboComment}}</em></span></span></span></a>
                                        <span class="arrow"><span class="W_arrow_bor W_arrow_bor_t"><i class="S_line1"></i><em class="S_bg1_br"></em></span></span>
                </li>
                <li class="">
                    <!--cuslike用于前端判断是否显示个性赞，1:显示-->
<a href="javascript:void(0);" class="S_txt2" action-type="fl_like" action-data="version=mini&amp;qid=heart&amp;mid=4301458930675331&amp;loc=profile&amp;cuslike=1" title="赞" suda-uatrack="key=profile_feed&amp;value=like"><span class="pos"><span class="line S_line1">
                                                                                                                                                                                                                                                                            <span node-type="like_status" class=""><em class="W_ficon ficon_praised S_txt2">ñ</em><em>{{wbContent.weiboLike}}</em></span>                        </span></span></a>
                    <span class="arrow" node-type="cmtarrow"><span class="W_arrow_bor W_arrow_bor_t"><i class="S_line1"></i><em class="S_bg1_br"></em></span></span>
                </li>
            </ul>
        </div>
    </div>
            
    </div>
                        </template>
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                                
           
    
    
                        
    
                                	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                        	        		    		    		    		    	        	
	                                <div class="WB_cardwrap S_bg2" node-type="lazyload">
            <div class="WB_empty WB_empty_narrow">
                <div class="WB_innerwrap">
                    <div class="empty_con clearfix">
                        <p class="text"><i class="W_loading"></i>正在加载中，请稍候...</p>
                    </div>
                </div>
            </div>
        </div>
           
    
    <!--翻页-->
                        
    <!--/翻页-->
    </div>
    </div>
					
			</div>
	</div>
	</div></div>
            
    </div>
      <div id="generatorMain" v-bind:style="foldedStyle">
          <div id="foldBtn" v-on:click="changeBottom">
              -
          </div>
          <div id="generatorMainBox">
            <div>
                <h2 class="generatorHeading">六学生成</h2>
                <h3><b>留意！</b>本工具仅于学习交流用途使用，若你使用本工具造成了针对于任何人的任何不良后果（包括但不限于：由你使用本工具之后截图引发的社会问题，造成的误会或是法律纠纷），本人（即制作者）概不负责，请你三思。</h3>
                <br />
                <h3>首银 2018, Achieved with fantastic Vue.js</h3>
                <br />
            </div>
              <button v-on:click="addWeibo">添加微博</button>
            <div id="generatorInputBox">
                <div id="weiboMainData">
                <h3>设备：</h3>
                    <input type="text" v-model="weibo[curId].weiboDevice" />
                    <h3>时间：</h3>
                    <input type="text" v-model="weibo[curId].weiboTime" />
                    <h3>内容：</h3>
                    <textarea v-model="weibo[curId].weiboContent"></textarea>
                </div>
                <div id="weiboStatus">
                    <h3>转发：</h3>
                    <input type="text" v-model="weibo[curId].weiboRepost" />
                    <h3>评论：</h3>
                    <input type="text" v-model="weibo[curId].weiboComment" />
                    <h3>点赞：</h3>
                    <input type="text" v-model="weibo[curId].weiboLike" />
                </div>
           
            </div>
          </div>
          
        </div>
  </div>
<script>
    let playgroundMain = new Vue({
        el: "#generaMainPlayground",
        data: {
            curId: 0,
            nxtId: 1,
            weibo:{
                0: {
                    id: 0,
                    weiboContent: "生成器",
                    weiboTime: "11月1日 08:13",
                    weiboDevice: "iPhone XS",
                    weiboRepost: "1625",
                    weiboComment: "500",
                    weiboLike: "166"
                }
            },
            foldedStyle: {
                padding: "40px 15px 20px 25px",
                backgroundColor: "white",
                position: "fixed",
                borderRadius: "10px 10px 0px 0px",
                zIndex: "999999",
                boxShadow: "0px 0px 500px 20px rgba(0, 0, 0, 0.2)",
                left: "10px",
                bottom: "0px",
                width: "30%",
                height: "250px",
                minWidth: "280px",
                maxWidth: "350px"
            }
        },
        methods:{
            addWeibo: function(){
                Vue.set(this.weibo, this.nxtId, {
                    id: this.nxtId,
                    weiboContent: "生成器",
                    weiboTime: "11月1日 08:13",
                    weiboDevice: "iPhone XS",
                    weiboRepost: "1625",
                    weiboComment: "500",
                    weiboLike: "166"
                });
                this.nxtId = this.nxtId + 1;
            },
            changeCurId: function(newCurId){
                this.curId = newCurId;
            },
            changeBottom: function(){
                Vue.set(this.foldedStyle, "bottom", this.foldedStyle.bottom == "0px" ? "-280px": "0px");
            }
        }
    })
</script>

<script>FM.view({"ns":"","domid":"Pl_Official_SeoInfo__18","css":[]})</script>
        

</body></html>