h1{
    font-size: 90px;
    text-align: center;
    margin: 40px;
}

h2{
    font-size: 70px;
    text-align: center;
}

h3{
    font-size: 60px;
    margin: 20px;
    text-align: center;
}

h5.info-h5{
    font-size: 50px;
    margin: 32px 0px 32px 0px;
    text-align: center;
}

h6{
    width: 100%;
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    text-align: center;
}

div.main-container{
    width: 95%;
    margin: 300px auto 64px auto;
    padding: 0px;
    border-radius: 17px;
    
}

div#details{
    display:none;
}

select{
    
    display: block;
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    width: 95%;
    height: 72px;
    font-size: 36px;
    margin: 10px auto;
    padding: 0px 0px 0px 32px;
    border: none;
    
    border-radius: 32px;
    background: -moz-linear-gradient(90deg, rgb(233, 232, 232), rgb(245, 245, 245));
    background: -webkit-linear-gradient(90deg, rgb(233, 232, 232), rgb(245, 245, 245));
    background: -o-linear-gradient(90deg, rgb(233, 232, 232), rgb(245, 245, 245));
    
    text-align: center;
    
    box-shadow: 0px 20px 90px 2px rgba(0, 0, 0, 0.15)
    
    
    
}


div#resulttag{
    width: 80%;
    height: auto;
    
    padding: 2%;
    
    transition-timing-function: linear;
    transition-duration: 0.1s;
    
    border-radius: 32px;
    
    margin: 0px auto 64px auto;
}


button{
    display: block;
    width: 64px;
    height: 64px;
    margin: 64px auto;
    font-size: 50px;
    background: -o-linear-gradient(90deg, rgb(233, 232, 232), rgb(245, 245, 245));
    background: -moz-linear-gradient(90deg, rgb(233, 232, 232), rgb(245, 245, 245));
    background: -webkit-linear-gradient(90deg, rgb(255, 121, 40), rgb(255, 151, 75));
    box-shadow: 0px 10px 50px 3px rgba(212, 117, 32, 0.2);
    border-radius: 32px;
    border-color: transparent;
    border-width: 0px;
    
}