h1{
    font-size: 90px;
    text-align: center
}

h2{
    font-size: 70px;
    text-align: center;
}

h3{
    font-size: 60px;
    margin: 20px;
    text-align: center;
}

h5.info-h5{
    font-size: 50px;
    text-align: center;
}

div.main-container{
    width: 80%;
    margin: 50px auto;
    padding: 5%;
    background-color: rgb(245, 245, 245);
    border-radius: 17px;
    box-shadow: 0px 50px 97px 1px rgba(0,0,0,0.2);
    
}

select{
    width: 90%;
    height: 90px;
    font-size: 50px;
    margin: 10px 5%;
}

button{
    width: 70%;
    height: 90px;
    margin: 50px 15%;
    font-size: 50px;
    background-color: #99CCFF;
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    border-width: 10px;
    
}

button:active{
    box-shadow: none;
    border-width: 0px;
}