h1{
    font-size: 90px;
    text-align: center
}

h2{
    font-size: 75px;
    text-align: center;
}

h3{
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

div.main-container{
    width: 70%;
    margin: 50px auto;
    padding: 10%;
    background-color: rgb(245, 245, 245);
    border-radius: 17px;
    box-shadow: 0px 50px 97px 1px rgba(0,0,0,0.2);
    
}

select{
    width: 80%;
    height: 50px;
    font-size: 30px;
    margin: 0 10%;
}

button{
    width: 20%;
    height: 50px;
    margin: 10% 40%;
}